/*Import Google Fonts*/
@font-face { 
  font-family: stylish; 
  src: url('../vendor/google-fonts/Stylish-Regular.ttf');
}
@font-face { 
  font-family: mali; 
  src: url('../vendor/google-fonts/Mali-Regular.ttf');
} 
@font-face { 
  font-family: rubik; 
  src: url('../vendor/google-fonts/RubikMicrobe-Regular.ttf');
} 
/*Custom Loaders*/
.loader {
    position: fixed;
    background-color: rgb(224, 225, 242, 1.0);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
  }
  .circle {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #F17233;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    animation-name: bounce;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .circle:nth-child(2) {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #33E5F1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 50px;
    margin: auto;
    animation-name: bouncee;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .circle:nth-child(3) {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #C313D1;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 50px;
    left: 0px;
    margin: auto;
    animation-name: bouncer;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  /*Custom Animations*/
  @keyframes bounce{
    0%   { transform: translateY(25px); }
    25%  { transform: translateY(50px);}
    50%  { transform: translateY(25px); }
    75%  { transform: translateY(0px);}
    100% { transform: translateY(25px); }
  }
  @keyframes bouncee{
    0%   { transform: translateY(0); }
    25%  { transform: translateY(25px);}
    50%  { transform: translateY(50px); }
    75%  { transform: translateY(25px);}
    100% { transform: translateY(0); }
  }
  @keyframes bouncer{
    0%   { transform: translateY(50px); }
    25%  { transform: translateY(25px);}
    50%  { transform: translateY(0px); }
    75%  { transform: translateY(25px);}
    100% { transform: translateY(50px); }
  }
  body {
    font-family: stylish, sans-serif;
  }

  .organize > h6, .organize > button{
    display: inline;
  }
  .organize > button {
    float: right;
  }
  .match-mods {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin: .5rem;
  }
  .match-mods > strong {
    font-family: mali;
    display: block;
    text-align: center;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.62);
    color: rgb(249, 249, 249);
    border-radius: 1rem;
    border: 1px solid rgba(53, 93, 185, 0.748);
    margin: .3rem;
    font-size: .75rem;
  }
  .match-mods > span {
    font-family: mali;
    transform: translateX(4rem);
    display: inline;
    text-align: center;
    padding: .65rem;
    background: rgba(0, 0, 0, 0.652);
    color: rgb(249, 249, 249);
    border-radius: 1rem;
    border: 1px solid rgba(53, 93, 185, 0.748);
    margin: 0 0 0 5rem;
    font-size: .75rem;
  }
  .match {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "intro"
    "details"
    "closure"
    ;
  }
  .first-sect{
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "players scores teams"
    ;
  }
  #players{
    grid-area: players;
  }
  #scores{
    grid-area: scores;
  }
  #teams{
    grid-area: teams;
  }
  .sec-sect{
    grid-area: details;
  }
  .third-sect{
    grid-area: closure;
  }
  .third-sect > div:nth-child(1){
    font-family: mali;
    text-align: center;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.62);
    color: rgb(249, 249, 249);
    border-radius: 1rem;
    border: 1px solid rgba(53, 93, 185, 0.748);
    margin: .3rem;
    font-size: .75rem;
  }
  .third-sect > div:nth-child(2){
    font-family: mali;
    text-align: center;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.62);
    color: rgb(249, 249, 249);
    border-radius: 1rem;
    border: 1px solid rgba(53, 93, 185, 0.748);
    margin: .3rem;
    font-size: .75rem;
  }

  /*Mobile View*/
  @media (max-width: 768px) {
    .match {
      grid-template-areas: 
      "details"
      "intro"
      "closure"
      ;
    }
    .first-sect{
      grid-template-columns: 1fr;
      grid-template-areas: 
      "players"
      "scores"
      "teams"
      ;
    }
    .match-mods > span {
      transform: translateX(0rem);
      display: block;
      padding: .5rem;
      background: rgba(0, 0, 0, 0.652);
      color: rgb(249, 249, 249);
      border-radius: 1rem;
      border: 1px solid rgba(53, 93, 185, 0.748);
      margin: .5rem;
      font-size: .75rem;
    }
  }

  /*************************************************
  ****************Dark Theme Css********************
  *************************************************/
  #theme-btn {
    position: fixed;
    right: 1rem;
    bottom: 50%;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    color: #c3c4ca;
    background: rgba(90,92,105,.5);
    font-size: 1.5rem;
    cursor: pointer;

  }
  #theme-btn:hover {
    color: #f7f7f7;
  }

  .bg-gradient-dark {
    background-color: #26193A;
    background-image: linear-gradient(180deg,#26193A 10%,#26193A 100%);
    background-size: cover;
}
  .change-theme {
    background: #1D1E22;
    color: #eee;
  }
.change-card-theme {
    background: #1D1E22;
    color: #eee;
    border: 1px solid #191A19;
    box-shadow: 12px 12px 2px 1px #191A19  !important;
  }
  .change-nav-theme {
    background: #1D1E22;
    color: #eee;
    border: 1px solid #191A19;
  }
  .minicards-theme {
    background: #1D1E22 !important;
    color: #eee !important;
    border: 1px solid #191A19 !important;
    box-shadow: 12px 12px 2px 1px #191A19  !important;
  }
  .modal-theme {
    background: #1D1E22 !important;
    color: #eee !important;
    border: 1px solid #191A19 !important;
  }